@import "../_theme_colors";

@mixin group-info {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
    h3{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $color-primary;
    }
    .info{
        display: flex;
        flex-wrap: wrap;
        div{
            margin-right: 80px;
            margin-top: 10px;
            span{
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: $text-color;
            }
            h3{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: $text-color;
            }
        }
    }
}

.general-info{
    background-color: #fff;
    margin-top: 30px;
    padding: 0 30px 30px 30px;
    height: 910px;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;

    .personal-information, .education-and-employment, .socials, .guarantor{
        margin-top: 30px;
        @include group-info
    }
}