// theme colors
$color-primary: #213F7D;
$color-secondary: #39CDCC;
$color-error: #E4033B;
$color-warning: #E9B200;
$color-success: #39CD62;
$text-color: #545F7D;
// sidebar colors
$active-background: #39CDCC



