// Avenir Font
@font-face {
    font-family: Avenir Bold;
    src: url("../assets//fonts//avenir-next/Avenir-Next-Bold.otf");
  }

  @font-face {
    font-family: Avenir Regular;
    src: url("../assets//fonts//avenir-next/Avenir-Next-Regular.otf");
  }